html, body {
	margin: 0;
	padding: 0;

	width: 100%;

	background-color: #FFFFFF;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #333333;

	display: table;
}

a {
	color: #333333;
}

a:hover {
	color: #666666;
}

main {
	margin: 30px, 0, 10px;
}

.wrapper {
	margin: 0 auto;
	width: 950px;
}

.cleaner, .cleaner_with_height {
	float: none;
	clear: both;
}

.cleaner_with_height {

}

section#posts {
	width: 410px;
	float: left;
}

section#middle-section {
	width: 180px;
	float: left;

	margin-left: 15px;
}

section#right-section {
	width: 322px;
	float: right;

	margin-right: 10px;
}

header {
	width: 100%;
	height: 157px;

	background: white url("../../images/background_section_top_bg.jpg") repeat-x;
}

header #logo {
	width: 385px;
	height: 55px;

	float: left;

	margin-top: 25px;
	padding: 20px 0 0 25px;

	background: white url("../../images/logo_bg.jpg") repeat-x;
}

header #logo h1, header #logo h2 {
	font-weight: normal;
	margin: 0;
	color: #666;
}

header #logo h1 {
	padding: 0;
	font-size: 24px;
}

header #logo h2 {
	padding: 10px 0 0 0;
	font-size: 14px;
}

header #search {
	width: 320px;
	height: 70px;

	float: right;
}

nav {
	height: 38px;
	float: left;
	margin: 21px 0 0 0;
	padding: 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline;
}

nav ul li a {
	width: 110px;
	float: left;

	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #8A4500;

	padding-top: 8px;
}

nav ul li.current, nav ul li a:hover {
	color: #fff;
	height: 26px;
	background-color: #cc6601;
}

.rigth_section_box, .middle_section_box {
	margin: 0 0 15px 0;
	padding: 10px;

	border: 1px solid #cccccc;
}

.rigth_section_box h1, .middle_section_box h1 {
	color: #c60;
	text-decoration: underline;
	font-size: 15px;

	margin: 0 0 8px 0;
	padding: 0;
}

.rigth_section_box h2 {
	color: #333;
	font-size: 11px;

	margin: 0;
	padding: 0;
}

.rigth_section_box h2 a {
	text-decoration: none;
}

.rigth_section_box h2 a:hover {
	text-decoration: underline;
}

.rigth_section_box .gallery {
	margin-left: 5px;
}

.rigth_section_box .gallery img {
	margin: 5px 5px 0 0;
}

.rigth_section_box p {
	color: #333;
	font-size: 11px;
	text-align: justify;

	margin: 0 0 20px 0;
	padding: 0;
}

.rigth_section_box p.last {
	margin: 0;
}

.rigth_section_box img.ad_image {
	margin: 5px 0;
}

.middle_section_box {
	width: 168px;
}

.middle_section_box ul {
	list-style: none;
	margin: 0;
	padding: 0;

	color: #333;
	font-size: 11px;
	font-family: 'Verdana', sans-serif;
}

.middle_section_box ul li {
	margin-bottom: 3px;
}

.middle_section_box ul li.last {
	margin-bottom: 24px;
}

.left_section_box {
	margin: 0 0 15px 0;
}

.left_section_box .box_cabecera {
	width: 395px;
	height: 20px;

	background: white url("../../images/section_box_top.jpg") repeat-x;

	font-weight: bold;
	font-size: 16px;
	color: #666;

	padding: 10px 0 0 15px;
}

.left_section_box .box_contenido {
	width: 380px;
	padding: 0 15px;
}

.left_section_box .box_contenido img {
	float: left;
	display: inline;

	border: none;
	margin: 0 13px 10px 0;
}

.post {
	margin-top: 25px;
	color: #c60;
	font-size: 11px;
}

.post a {
	color: inherit;
	text-decoration: none;
}

.post a:hover {
	text-decoration: underline;
}

footer {
	height: 29px;
	background: white url("../../images/footer_bg.jpg") repeat-x;

	font-family: "Verdana", sans-serif;
	font-size: 11px;
	text-align: center;
	padding: 20px 0 0 0;
	color: #666;
}

.rss_image {
	float: right;
	margin: 0 -7px 0 0;
}

#search {
	margin: 30px 20px 0 0;
}

#search form {
	float: right;
	width: 330px;
	margin-top: 10px;
}

#textfield {
	float: left;
	width: 240px; 
	height: 16px;
	background: #fff;
	color: #999;
	border: solid 1px #999;
	margin: 0;
	padding: 5px 5px;
}

#button{ 
	float: right;
	border: solid 1px #999;
	cursor:	pointer;
	font-size: 14px; 
	text-align: center;
	white-space: pre; 
	width: 70px;
	height: 28px;
	color: #999; 
	background: #fff; 
	margin: 0 0 0 0; 
	padding-bottom: 5px; 
	padding-top: 4px; 
}

#icons {
	float: right;
}

#icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#icons li {
	float: left;
	margin-left: 10px;
}

#icons a {
	display: block;
	width: 28px;
	height: 28px;

	/*background-size: cover;*/
}

.google {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -56px -56px;
}

.google:hover {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -84px 0;
}

.facebook {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat 0 -56px;
}

.facebook:hover {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -28px -56px; 
}

.twitter {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat 0 -28px;
}

.twitter:hover {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -28px -28px; 
}

.rss {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat 0 0;
}

.rss:hover {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -28px 0; 
}

.youtube {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -56px 0;
}

.youtube:hover {
	background: transparent url("../../images/icons/icon_sprite.png") no-repeat -56px -28px; 
}